
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
@*<h3>@ViewData["Message"]</h3>
*@
<dl>
    <dt>Name: </dt>
    <dd>Rosita Axelsson</dd>
    <dt>Email: </dt>
    <dd>rosita.axelsson@email.com</dd>
</dl>
