:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}

body {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h3{

}
header {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--purple);
}

nav{
    display: flex;
    justify-content: space-around;
 
}

.container{
    background-color: darkmagenta;
}

.container input{
    background-color: var(--pink);
    width: 150px;
}

.container button {
    background-image: linear-gradient(var(--pink), var(--purple), var(--light));
}

.containerGuess {
    background-image: linear-gradient(to left, var(--pink), var(--purple), var(--light));
}

.containerGuess input {
    background-image: linear-gradient(var(--pink), var(--purple), var(--light));
}

.submit{
    background-color: var(--purple), var(--light);
}
ul {
    display: inline-flex;
    font-size: 30px;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: flex-start;
}
li {
    color: yellow;
    display: inline-flex;
    justify-content: space-between;
    border: 5px solid var(--purple);
    border-radius: 5px;
}
a {
    color: yellowgreen;

}

footer{
    margin-top: auto;
}