@{
    ViewData["Title"] = "FeverCheck";
}
@*form takes a single numric value and send to controller action so this temp will be checked against the fever and the message*@
<h1>Doctor</h1>
<div class="container">
    <div class="wrapper">
        <form asp-action="FeverCheck" asp-controller="Doctor" method="post">
            <input type="number" placeholder="Check your temp" name="temp" value="" min="0" max="100" step="1" />
            <br /><span>Celsius</span><input type="radio" name="TempCelsius" value="Celsius" />
            <br /><span>Fahrenhigt</span><input type="radio" name="TempFahrenheit" value="Fahrenhigt" />
            <br /><button type="submit">Check your temp</button>
@*            <b>Temperature in: </b><p>@if(@ViewBag.Celsius || @ViewBag.Fahrenhigt)</p>
*@                <p>
                @if (ViewBag.Msg != null)
                {
                    @ViewBag.Msg
                }
            </p>
        </form>
    </div>
</div>
