@{
    ViewData["Title"] = "FeverCheck";
}

<h1>Doctor</h1>
<div class="container">
    <div class="wrapper">
        <form asp-action="FeverCheck" asp-controller="Doctor" method="post">
            <input type="number" placeholder="Check your temp" name="temp" value="" min="0" max="100" step="1" />
           @* <br /><input type="radio" checked="checked" id="Temperature" value="Celsius" placeholder="Celsius"/>
            <br /><input type="radio" checked="checked" id="Temperature" value="Fahrenhigt" placeholder="Fahrenhigt"/>*@
            <br /><button type="submit">Check your temp</button>
            <p>
                @if (ViewBag.Msg != null)
                {
                    @ViewBag.Msg
                }
            </p>
        </form>
    </div>
</div>
